.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 280px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1D1D1D; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}
.sidebar-wrapper {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 280px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 280px;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: #343A40; /* Black */
}
.tableHeader{
  box-sizing: border-box;
  /* border-width: 3px !important; */
}
.edit-form {
  max-width: 300px;
  margin: auto;
}
.col{
  text-align: center;
}
.mainContainer{
  width: auto;
}
.tableContainer{
  width: auto;
}
.userTableContainer{
  width: 2000px
}
.carTableContainer{
  width: 3500px;
}
.carPhotoAdmin{
  width: auto;
  max-width: 500px;
  height: auto;
  max-height: 300px;
}
.orderTableContainer{
  width: 2200px;
}
.carCol:nth-child(1),.ordercol:nth-child(1),.usercol:nth-child(1){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(2),.ordercol:nth-child(2),.usercol:nth-child(2){
  width: 250px;
  text-align: center;
}
.carCol:nth-child(3),.ordercol:nth-child(3){
  width: 130px;
  text-align: center;
}
.carCol:nth-child(4),.ordercol:nth-child(4){
  width: 200px;
  text-align: center;
}
.carCol:nth-child(5){
  width: 100px;
  text-align: center;
}
.ordercol:nth-child(5){
  width: 250px;
  text-align: center;
}
.carCol:nth-child(6),.ordercol:nth-child(6){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(7),.ordercol:nth-child(7){
  width: 150px;
  text-align: center;
}
.carCol:nth-child(8),.ordercol:nth-child(8){
  width: 150px;
  text-align: center;
}
.carCol:nth-child(9),.ordercol:nth-child(9){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(10),.ordercol:nth-child(10){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(11),.ordercol:nth-child(11){
  width: 400px;
  text-align: center;
}
.carCol:nth-child(12),.ordercol:nth-child(12){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(13){
  width: 600px;
  height: auto;
  text-align: center;
}
.ordercol:nth-child(13){
  width: 400px;
  height: auto;
  text-align: center;
}
.usercol:nth-child(3){
  width: 250px;
  text-align: center;
}
.usercol:nth-child(4){
  width: 600px;
  text-align: center;
}
.usercol:nth-child(5){
  width: 200px;
  text-align: center;
}
.adminContainer{
  margin-left: 560px;
}
.loginformwrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}