.sidebar-wrapper {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 72px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  background-color: #343A40; /* Black */

}
.btn-danger{
  margin-bottom: 100px;
}
.adminContainer{
  width: 80%;
  background: white;
  transform: translate(250px,80px);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343a40; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius:5px;
  background: #6c757d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808991; 
}
.scroll {
  white-space: nowrap;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

.nav-bg{
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
}
.edit-form {
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) );
  max-width: 300px;
  margin: auto;
}
.col{
  text-align: center;
}
.mainContainer{
  width: 100%;
  background: white;
}
.tableContainer{
  width: auto;
}
.userTableContainer{
  width: 2000px
}
.carTableContainer{
  width: 3500px;
}
.carPhotoAdmin{
  width: auto;
  max-width: 500px;
  height: auto;
  max-height: 300px;
}
.orderTableContainer{
  width: 2200px;
}
.carCol:nth-child(1),.ordercol:nth-child(1),.usercol:nth-child(1){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(2),.ordercol:nth-child(2),.usercol:nth-child(2){
  width: 250px;
  text-align: center;
}
.carCol:nth-child(3),.ordercol:nth-child(3){
  width: 130px;
  text-align: center;
}
.carCol:nth-child(4),.ordercol:nth-child(4){
  width: 200px;
  text-align: center;
}
.carCol:nth-child(5){
  width: 100px;
  text-align: center;
}
.ordercol:nth-child(5){
  width: 250px;
  text-align: center;
}
.carCol:nth-child(6),.ordercol:nth-child(6){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(7),.ordercol:nth-child(7){
  width: 150px;
  text-align: center;
}
.carCol:nth-child(8),.ordercol:nth-child(8){
  width: 150px;
  text-align: center;
}
.carCol:nth-child(9),.ordercol:nth-child(9){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(10),.ordercol:nth-child(10){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(11),.ordercol:nth-child(11){
  width: 400px;
  text-align: center;
}
.carCol:nth-child(12),.ordercol:nth-child(12){
  width: 100px;
  text-align: center;
}
.carCol:nth-child(13){
  width: 600px;
  height: auto;
  text-align: center;
}
.ordercol:nth-child(13){
  width: 400px;
  height: auto;
  text-align: center;
}
.usercol:nth-child(3){
  width: 250px;
  text-align: center;
}
.usercol:nth-child(4){
  width: 600px;
  text-align: center;
}
.usercol:nth-child(5){
  width: 200px;
  text-align: center;
}
.logout{
  cursor: pointer;
}
.loginformwrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}